<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_78adfd899b4c4e13bcb97a2fda218d1c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_78adfd899b4c4e13bcb97a2fda218d1c" ></div>
        
</body>
<script>    
    
            var map_78adfd899b4c4e13bcb97a2fda218d1c = L.map(
                "map_78adfd899b4c4e13bcb97a2fda218d1c",
                {
                    center: [39.0, 35.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e1f849d1eb894eec82acb0b467b3aeec = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_78adfd899b4c4e13bcb97a2fda218d1c);
        
    
            var heat_map_8e2130d251dc41098d3a75cc18f2a33f = L.heatLayer(
                [[36.87502, 30.713095000000003], [0.0, 0.0], [0.0, 0.0], [41.155407000000004, 27.90343], [41.019012, 28.951016999999997], [40.991653, 28.715864], [39.895140000000005, 32.81409], [41.120020000000004, 29.021991999999997], [41.001644, 28.689746999999997], [39.89524, 32.813959999999994], [41.066525, 28.833769], [0.0, 0.0], [0.0, 0.0], [36.873290000000004, 30.726608000000002], [38.45413, 27.176025], [36.896584000000004, 30.735971000000003], [40.99391, 29.031662], [0.0, 0.0], [0.0, 0.0], [41.084084000000004, 28.621277000000003], [40.93994, 29.311619], [0.0, 0.0], [0.0, 0.0], [0.0, 0.0], [0.0, 0.0], [41.120746999999994, 29.069439000000003], [39.793034000000006, 30.457753999999998], [0.0, 0.0], [41.12035, 29.047705], [41.07662, 29.021729999999998], [0.0, 0.0]],
                {"blur": 15, "max": 1.0, "maxZoom": 18, "minOpacity": 0.5, "radius": 16}
            ).addTo(map_78adfd899b4c4e13bcb97a2fda218d1c);
        
</script>